* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background {
    background: url(https://images.unsplash.com/photo-1612105358098-f1818cae321f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.percentage {
    text-align: center;
    padding: 25%;
    color: #f4a460;
}
